/*
COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6

*/

/* GLOBAL STYLES
------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
      box-sizing: inherit;
  }

/*backgound image is 100% shown heightwise without any cropping */
html, body {
    height: 100%;
}

/*body is offwhite color with no margin spaces.*/
body {
    background: #f6f6f6;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Caveat', cursive;
}

/* links */
/* selector :hover selects elements when you mouse over them  */
/* In this case, we are using a:hover to change color of link when
   hovering over the link for body and footer respectfully. */

/* within body */
a {
    color: #3c8453;
}

a:hover {
    color: #bcaa96;
    text-decoration: none;
}

/* within footer */

footer a {
    color: #bcaa96;
}

footer a:hover {
    color: #3c8453;
}
 

.btn {
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px
}

/* HOME
-----------------------------*/
.home {
    background: url(../images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/*adding white background on text to visibly see better*/

.home .content-wrapper {
    background: rgb(255 255 255 / 0.9);
    flex: 1 0 auto;
}

.content-bg {
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
}
/* RESUME
-----------------------------*/
.resume header::before {
    background: url(../images/bg-home-office-studio.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}

.resume-section {
    margin-bottom: 50px;
}
.resume-section h2 {
    border-bottom: 2px dashed #d3d4d6;
}

.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}


/* Profile
-----------------------------*/


/* Projects
-----------------------------*/
/*display: flow-root establishes new block when there is an overflow (in this case, when not used, "Work Experience" will be in same position as
container above it, not aligning with the rest of
jobs I have put in.*/

.project-item {
    display: flow-root;
    margin: 30px 0;
}

.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;
}


/* Work Experience
-----------------------------*/
.work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;

}

/* Education
-----------------------------*/


/* FOOTER
----------------------------f-*/
footer {
    background: #222;
    color: #d3d4d6;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;

}
.socials img {
    width: 32px;
}

/*changing opacity of img in footer when hovering*/
.socials img:hover {
    opacity: 0.5;

}
